.wrapper {
  cursor: pointer;
  position: absolute;
  overflow: auto;
  width: 100%;
  display: flex;
  height: 100%;
  backface-visibility: hidden;
  background-color: var(--clr-background-400);
  border-radius: 8px;
  border: 3px solid var(--clr-accent-blue);
  overflow: hidden;
  isolation: isolate;
  .textWrapper {
    margin: auto;
    position: relative;
    .text {
      font-size: 2.25rem;
      padding: 0 2rem;
      font-weight: 500;
      margin: 0;
      color: var(--clr-accent-blue);
    }
    &--mobile {
      .text {
        font-size: 1.5rem;
        padding: 0 1rem;
      }
    }
  }
}
