.wrapper {
  margin: auto;
  position: relative;
  .text {
    font-size: 2.5rem;
    padding: 0 2rem;
    font-weight: 700;
    margin: 0;
    color: var(--clr-accent-blue);
  }
  &--mobile {
    .text {
      font-size: 1.75rem;
      padding: 0 1rem;
    }
  }
}
