.wrapper {
  width: 100%;
  max-width: 750px;
  margin: 2rem;
  border-radius: 4px;
  z-index: 2;
  padding: 0 1rem;
  .buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    h5 {
      font-size: 1.25rem;
      flex-basis: 100%;
      color: var(--clr-accent-blue);
      margin: 0;
      position: relative;
      isolation: isolate;
      span {
        z-index: 1;
        padding-right: 0.5em;
        background-color: var(--clr-background-300);
        position: relative;
      }
      &::after {
        content: "";
        width: 100%;
        z-index: -1;
        height: 2px;
        top: 50%;
        left: 0;
        position: absolute;
        background-color: currentColor;
      }
    }
    .button {
      --accent: var(--clr-accent-blue);
      background-color: transparent;
      color: var(--accent);
      cursor: pointer;
      border: 2px solid var(--accent);
      display: inline-flex;
      padding: 0.35rem 0.75rem;
      font-weight: 700;
      font-size: 14px;
      align-items: center;
      border-radius: 4px;
      justify-content: center;
      transition: background-color 200ms ease, color 200ms ease;
      svg {
        margin-right: 0.5rem;
      }
      &.orange {
        --accent: var(--clr-accent-peachy);
      }
      &.green {
        --accent: var(--clr-accent-green);
      }
      &:focus-visible {
        outline: 2px dashed var(--accent);
        outline-offset: 0.5rem;
        background-color: var(--accent);
        color: var(--clr-background-200);
      }
      &:hover {
        background-color: var(--accent);
        color: var(--clr-background-200);
      }
    }
  }
  &__title {
    margin: 0 0 1rem 0;
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 120%;
    span {
      color: var(--clr-accent-green);
    }
  }
}

@media (min-width: 600px) {
  .wrapper {
    width: calc(100% - 1rem);
    &__title {
      font-size: 2.75rem;
    }
    .buttons h5 span {
      background-color: var(--clr-background-300);
    }
  }
}
