.container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  background-color: var(--clr-background-400);
  overflow: hidden;
  transition: border-color 250ms ease;
  padding: 1rem;
  cursor: pointer;
  outline: none;
  position: relative;

  .fade {
    top: 0;
    left: 0;
    transform: translateX(-50px);
    width: 150px;
    height: 100%;
    opacity: 0.2;
    position: absolute;
    transition: transform 250ms ease, opacity 250ms ease;
    background-image: linear-gradient(to right, var(--clr-card-accent), transparent);
  }

  .icon {
    width: 0.5rem;
    height: 0.5rem;
    position: inherit;
    flex-shrink: 0;
    margin-right: 0.5em;
    border-radius: 50%;
    background-color: var(--clr-card-accent);
  }

  .count {
    background-color: var(--clr-background-500);
    width: 2rem;
    height: 2rem;
    display: grid;
    border-radius: 4px;
    place-items: center;
    color: var(--clr-text-muted);
    font-size: 0.75rem;
    font-weight: 700;
  }

  .title {
    margin: 0;
    font-size: 1rem;
    width: 100%;
    color: var(--clr-card-accent);
    filter: brightness(200%);
    font-weight: 500;
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    &:focus {
      outline: none;
    }
  }
}

@media screen and (min-width: 450px) {
  .container {
    &:hover,
    &:focus {
      .fade {
        transform: translateX(0);
        opacity: 0.3;
      }
    }
    &:focus-visible {
      outline: 2px dashed var(--clr-card-accent);
      outline-offset: 0.5rem;
    }
  }
}
