.wrapper {
  margin: auto;
  &--mobile {
    .answer {
      &__text {
        font-size: 1.75rem;
      }
    }
  }
}
.answer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
  text-align: center;
  &__label {
    font-size: 0.85rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    color: var(--clr-text-muted);
    margin-bottom: 0;
  }
  &__text {
    font-size: 2.5rem;
    font-weight: 700;
    margin: 0;
    padding: 0 2rem;
    color: var(--clr-accent-peachy);
  }
}
