.field {
  label {
    display: block;
    cursor: pointer;
    font-size: 1.125rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
  }
  input {
    width: 100%;
    background-color: var(--clr-background-400);
    border: 2px solid rgb(63, 63, 63);
    border-radius: 4px;
    padding: 0.75rem 1rem;
    color: var(--clr-text);
    font-weight: 500;
    letter-spacing: 0.25px;
    &:focus {
      outline: none;
      border-color: var(--clr-accent-blue);
    }
  }
}

.input__wrapper .keyboard__indicator {
  display: none;
}

@media (min-width: 450px) {
  .input__wrapper {
    position: relative;
    .keyboard__indicator {
      position: absolute;
      top: 50%;
      right: 1rem;
      display: flex;
      gap: 0.5rem;
      transform: translateY(-50%);
      .key {
        background-color: var(--clr-background-500);
        border-radius: 2px;
        padding: 0.35em 0.5em;
        font-size: 0.75rem;
        font-weight: 700;
        color: var(--clr-text-muted);
        box-shadow: 0 3px 0px var(--clr-background-300);
      }
    }
  }
}
