.container {
  position: fixed;
  inset: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  max-width: 550px;
  width: calc(100% - 2rem);
  outline: none;
  height: fit-content;
  max-height: 90vh;
  overflow: auto;
  border-radius: 4px;
  will-change: transform, opacity;
  padding: 2rem;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  border: 2px solid var(--clr-background-400);
  background-color: var(--clr-background-400);
  .title {
    margin: 0;
    font-size: 2rem;
    max-width: 80%;
    font-weight: 700;
    line-height: 120%;
  }
  .label {
    font-size: 0.75rem;
    font-weight: 700;
    margin-bottom: 0.5em;
    color: var(--clr-card-accent);
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  .info {
    margin-top: 0;
  }
  .date {
    font-weight: 500;
    font-size: 0.75rem;
    margin-top: 0.5em;
    margin-bottom: 2rem;
    color: var(--clr-text-muted);
  }
  .close {
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    top: 1.25rem;
    right: 1rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    svg {
      width: 2rem;
      height: 2rem;
      color: var(--clr-card-accent);
    }
    &:focus-visible {
      outline: 2px dashed var(--clr-card-accent);
      outline-offset: 0.125rem;
    }
  }
  .buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    gap: 1.5rem;
    a {
      flex-basis: 100%;
      display: flex;
      padding: 1rem;
      border-radius: 4px;
      flex-direction: column;
      align-items: center;
      font-size: 0.75rem;
      justify-content: center;
      position: relative;
      font-weight: 700;
      background-color: var(--clr-background-500);
      color: var(--clr-card-accent);
      svg {
        margin-bottom: 0.25rem;
      }
      &[data-new-tag] {
        &::after {
          content: "Beta";
          position: absolute;
          text-transform: uppercase;
          top: -0.5em;
          right: -0.5em;
          font-size: 0.5rem;
          font-weight: 700;
          white-space: nowrap;
          padding: 0.125em 1.5em;
          background-color: var(--clr-card-accent);
          color: var(--clr-background-300);
          transform: scale(1);
          will-change: transform, opacity;
          opacity: 1;
          transition: transform 350ms ease, opacity 450ms ease-out;
          border-radius: 2px;
        }
      }
      &::before {
        content: "";
        position: absolute;
        inset: 0;
        opacity: 0.2;
        transition: opacity 250ms ease;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
      }
      &:hover,
      &:focus {
        outline: none;
        &::before {
          opacity: 0.5;
        }
        &::after {
          transform: scale(1) !important;
          opacity: 1 !important;
        }
      }
      &:focus-visible {
        outline: 2px dashed var(--clr-card-accent);
        outline-offset: 1rem;
      }
    }
  }
}

@media screen and (min-width: 450px) {
  .container {
    .buttons {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 2rem;
      a {
        will-change: transform;
        transform: translateY(0px);
        transition: transform 250ms ease;
        font-size: 1rem;
        svg {
          width: 1.5rem;
          height: 1.5rem;
        }
        &:hover,
        &:focus {
          transform: translateY(-6px);
        }
        &[data-new-tag]::after {
          font-size: 0.75rem;
          transform: scale(0);
          opacity: 0;
          padding: 0.125em 0.5em;
        }
      }
    }
  }
}
