.char {
  font-size: 1.5rem;
  padding: 0.125rem 0;
  width: 1.75ch;
  transition: border-color 100ms ease;
  box-sizing: content-box;
  background-color: transparent;
  border: none;
  border-bottom: 3px solid var(--clr-background-600);
  font-weight: 700;
  color: var(--clr-text);
  text-align: center;
  caret-color: var(--clr-accent-blue);
  & + .char {
    margin-left: 0.15em;
  }
  &:focus {
    border-color: var(--clr-accent-blue);
    outline: none;
  }
  &--special {
    padding: 0;
    border: none;
  }
  &--preview {
    color: var(--clr-background-500);
  }
  &--correct {
    color: var(--clr-accent-green);
  }

  &--wrong {
    color: var(--clr-accent-red);
  }
}
