.wrapper {
  perspective: 1000px;
  width: 100%;
  height: 50vh;
  max-height: calc(5 * 3em);
  user-select: none;
  position: absolute;
  top: 50%;
  isolation: isolate;
  border-radius: 8px;
  left: 50%;
  will-change: transform;
  &:focus-visible {
    outline: 2px dashed var(--clr-accent-blue);
    outline-offset: 2rem;
  }
}

.content {
  position: relative;
  text-align: center;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}
