.wrapper {
  perspective: 1000px;
  width: 100%;
  height: 50vh;
  max-height: calc(5 * 3em);
  user-select: none;
  position: absolute;
  top: 50%;
  isolation: isolate;
  border-radius: 8px;
  left: 50%;
  will-change: transform;
  &:focus-visible {
    outline: 2px dashed var(--clr-accent-blue);
    outline-offset: 2rem;
  }
}

.questionPreview {
  position: absolute;
  border-radius: 5px;
  color: var(--clr-accent-blue);
  font-weight: 700;
  font-size: 1rem;
  border: 2px solid var(--clr-accent-blue);
  max-width: 100%;
  width: max-content;
  background-color: var(--clr-background-400);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0.5em 1em;
  svg {
    margin-right: 0.5em;
  }
}

.content {
  position: relative;
  text-align: center;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}
