.wrapper {
  perspective: 1000px;
  width: 100%;
  height: 50vh;
  max-height: 300px;
  user-select: none;
  position: absolute;
  top: 50%;
  isolation: isolate;
  border-radius: 8px;
  left: 50%;
  will-change: transform;
  &--correct {
    .back {
      border-color: var(--clr-background);
    }
  }
  &--wrong {
    .back {
      border-color: var(--clr-background);
    }
  }
}
.front,
.back {
  cursor: pointer;
  position: absolute;
  overflow: auto;
  width: 100%;
  display: flex;
  height: 100%;
  backface-visibility: hidden;
  background-color: var(--clr-background-accent);
  border-radius: 8px;
  overflow: hidden;
}

.back {
  transform: rotateX(180deg);
}

.content {
  position: relative;
  text-align: center;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.front {
  border: 3px solid var(--clr-accent-blue);
}

.back {
  border: 3px solid var(--clr-accent-peachy);
  transition: border-color 250ms ease;
}

.repeated_watermark {
  font-size: 8rem;
  color: var(--clr-text-muted);
  opacity: 0.03;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-15deg);
  font-weight: 700;
  margin: 0;
  line-height: 100%;
  &::before,
  &::after {
    content: attr(data-text);
    font-size: inherit;
    position: absolute;
    left: 0;
  }
  &::before {
    top: -100%;
  }
  &::after {
    top: 100%;
  }
}

.correct_blob {
  z-index: 2;
  position: absolute;
  top: 50%;
  background-color: var(--clr-accent-green);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  > span {
    color: var(--clr-background-accent);
    font-weight: 700;
    font-size: 2rem;
  }
}

.correct_blob,
.wrong_blob {
  svg {
    color: white;
    width: 60px;
    height: 60px;
  }
}

.wrong_blob {
  z-index: 2;
  position: absolute;
  top: 50%;
  background-color: var(--clr-accent-red);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  > span {
    color: var(--clr-background-accent);
    font-weight: 700;
    font-size: 2rem;
  }
}
