html {
  --clr-background-300: hsl(0, 0%, 13%);
  --clr-background-400: hsl(0, 0%, 16%);
  --clr-background-500: hsl(0, 0%, 19%);
  --clr-background-card: hsl(0, 0%, 20%);
  --clr-text: hsl(0, 0%, 96%);
  --clr-text-muted: hsl(0, 0%, 70%);

  --clr-accent-blue: hsl(212, 84%, 70%);
  --clr-accent-green: hsl(124, 67%, 69%);
  --clr-accent-green-darker: hsl(124, 40%, 56%);
  --clr-accent-peachy: hsl(23, 90%, 68%);
  --clr-accent-red: hsl(359, 100%, 70%);
  --clr-accent-red-darker: hsl(359, 63%, 54%);
}
