html {
  --clr-background: hsl(0, 0%, 13%);
  --clr-background-accent: hsl(0, 0%, 16%);
  --clr-text: hsl(0, 0%, 96%);
  --clr-text-muted: hsl(0, 0%, 70%);

  --clr-accent-blue: hsl(212, 84%, 70%);
  --clr-accent-green: hsl(124, 67%, 69%);
  --clr-accent-peachy: hsl(23, 90%, 68%);
  --clr-accent-red: #ff686b;
}
