@use "variables";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Source+Code+Pro:wght@600&display=swap");

html,
body,
#__next {
  min-height: 100%;
  height: auto;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--clr-background-300);
  color: var(--clr-text);
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent; //remove annoying highlight on mobile chrome
  &.no-scroll {
    overflow-y: hidden;
  }
}

#__next {
  display: flex;
  flex-direction: column;
}

a {
  color: inherit;
  text-decoration: none;
}

input {
  font-family: inherit;
}

* {
  box-sizing: border-box;
  -moz-outline-radius: 0px !important;
}

.hidden {
  display: none;
}
