@use "variables";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");

body {
  min-height: 100vh;
  height: auto;
  padding: 0;
  margin: 0;
  background-color: var(--clr-background-300);
  color: var(--clr-text);
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent; //remove annoying highlight on mobile chrome
  &.no-scroll {
    overflow-y: hidden;
  }
}

#__next {
  height: inherit;
  min-height: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
