.wrapper {
  padding: 2rem;
  margin: 0 auto;
  max-width: 700px;
  height: 100%;
  display: flex;
  flex-direction: column;
  h1 {
    font-size: 3rem;
    font-weight: 500;
    line-height: 125%;
  }
  label {
    display: block;
    cursor: pointer;
    margin-bottom: 0.5rem;
  }
  input {
    width: 100%;
    background-color: var(--clr-background-accent);
    border: 2px solid rgb(63, 63, 63);
    border-radius: 4px;
    padding: 0.5rem 1rem;
    color: var(--clr-text);
    font-weight: 700;
    &:focus {
      outline: none;
      border-color: var(--clr-accent-blue);
    }
  }
}
.grid {
  display: grid;
  margin-top: 1.5rem;
  gap: 1.5rem;
  flex: 1;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: repeat(auto-fill, 75px);
}

.entry {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  border-radius: 4px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  border: 2px solid var(--clr-background-accent);
  background-color: var(--clr-background-accent);
  overflow: hidden;
  &:hover,
  &:focus-within {
    border-color: var(--clr-accent-peachy);
  }
  &__title {
    width: 100%;
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    &:focus {
      outline: none;
    }
  }
}
