.wrapper {
  padding: 2rem;
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  .adminLink {
    color: var(--clr-accent-blue);
    margin-bottom: 1.5rem;
    &:focus,
    &:hover {
      text-decoration: underline;
    }
  }
}

.heading {
  margin-top: 0;
  margin-bottom: 2rem;
  font-size: clamp(1.5rem, 8vw, 2.5rem);
  font-weight: 700;
}

@media (min-width: 450px) {
  .heading {
    font-weight: 700;
  }
}
