.container {
  margin: 0 auto;
  width: calc(100% - 3rem);
  display: grid;
  max-width: 750px;
}

.title {
  font-size: 1.5rem;
  font-weight: 500;
  span {
    font-size: 1.35em;
    font-weight: 700;
    color: var(--clr-accent);
  }
}

.dupWarning {
  border-radius: 4px;
  padding: 1rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  color: var(--clr-background-300);
  background-color: var(--clr-accent-yellow);
  h1 {
    font-size: 1.5rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    svg {
      margin-right: 0.75rem;
      width: 3rem;
      height: 3rem;
    }
  }
  h3 {
    margin: 0;
    margin-bottom: 0.5em;
  }
  ol {
    margin: 0;
    padding-left: 1rem;
    font-weight: 500;
  }
}

.top__container {
  display: none;
}

.list {
  display: grid;
  row-gap: 1rem;
  margin-bottom: 2rem;
  grid-template-columns: 1fr;
  &__item {
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    background-color: var(--clr-background-400);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 40px auto;
    column-gap: 0.5rem;
    .question,
    .answer {
      text-align: center;
      font-size: 1.125rem;
    }
    .answer {
      font-weight: 700;
      color: var(--clr-accent);
    }
    .question {
      font-weight: 500;
    }
    .spacer {
      display: none;
    }
    svg {
      width: 1.5rem;
      height: 1.5rem;
      place-self: center;
      margin: 0.25rem;
    }
  }
}

@media (min-width: 600px) {
  .top__container {
    max-width: none;
    position: sticky;
    top: -1px;
    display: block;
    padding-top: 1px;
    z-index: 2;
    background-color: var(--clr-background-300);
    isolation: isolate;
    &::after {
      content: "";
      position: absolute;
      inset: 0;
      z-index: -1;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
      opacity: 0;
      transition: opacity 150ms ease;
    }

    &--sticky {
      svg {
        opacity: 1 !important;
      }
      &::after {
        opacity: 1;
      }
    }

    .top {
      display: grid;
      grid-template-columns: 1fr 60px 1fr;
      column-gap: 2rem;
      font-size: 1.5rem;
      font-weight: 700;
      padding: 0 1rem;
      svg {
        place-self: center;
        width: 2rem;
        height: 2rem;
        transition: opacity 150ms ease;
        opacity: 0;
        color: var(--clr-accent);
      }
      & > p:last-child {
        text-align: right;
      }
    }
  }

  .dupWarning {
    h1 {
      font-size: 2rem;
      flex-direction: row;
    }
  }

  .title {
    font-size: 2rem;
    position: relative;
    isolation: isolate;
    span {
      padding-right: 0.25em;
      background-color: var(--clr-background-300);
    }
    &::after {
      content: "";
      width: 100%;
      height: 3px;
      position: absolute;
      bottom: calc(0.9em + 1px);
      left: 0;
      background: var(--clr-accent);
      z-index: -2;
    }
  }

  .list {
    grid-template-columns: 1fr;
    &__item {
      grid-template-columns: 1fr 20px 1fr;
      grid-template-rows: auto;
      column-gap: 1rem;
      .spacer {
        display: block;
        height: 100%;
        width: 3px;
        border-radius: 3px;
        background-color: var(--clr-background-500);
        place-self: center;
      }
      svg {
        display: none;
      }
      .question,
      .answer {
        text-align: left;
        color: var(--clr-text);
      }
      .question {
        font-weight: 500;
      }
      .answer {
        color: var(--clr-accent);
        font-weight: 700;
        text-align: right;
      }
    }
  }
}
