.word {
  flex-shrink: 0;
}

.container {
  position: absolute;
  border-radius: 5px;
  overflow: hidden;
  color: var(--clr-accent-blue);
  font-weight: 700;
  font-size: 1.25rem;
  border: 2px solid var(--clr-accent-blue);
  width: calc(100% - 2rem);
  min-height: 240px;
  background-color: var(--clr-background-400);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5em 3.5em;
  top: 50%;
  left: 50%;
  transition: border-color 350ms ease;
  &--incorrect {
    border-color: var(--clr-accent-red);
  }
  &--correct {
    border-color: var(--clr-accent-green);
  }
  &:focus-visible {
    outline: 2px dashed var(--clr-accent-blue);
    outline-offset: 2rem;
  }
  &:focus-visible {
    outline: 2px dashed var(--clr-accent-blue);
    outline-offset: 2rem;
  }
  .question {
    margin: 0;
    margin-bottom: 1rem;
    font-size: inherit;
  }
  span {
    font-size: 1rem;
    color: white;
  }
  form {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.125rem;
    font-family: "Source Code Pro", monospace;
    > *:not(input) {
      display: flex;
      font-size: inherit;
      align-items: center;
      justify-content: center;
    }
    .space {
      width: 1ch;
    }
    .input {
      font-size: inherit;
      background-color: var(--clr-background-300);
      border: none;
      box-shadow: 0 3px 0 var(--clr-background-400), 0 3px 8px rgba(0, 0, 0, 0.25);
      color: var(--clr-text);
      font-weight: 600;
      padding: 0.35em 0.5em;
      text-align: center;
      isolation: isolate;
      letter-spacing: 1px;
      border-radius: 4px;
      transition: transform 200ms ease-out, box-shadow 200ms ease;
      &:not(.input--correct):not(.input--incorrect):focus-visible {
        box-shadow: 0 3px 0 var(--clr-accent-blue), 0 3px 8px rgba(0, 0, 0, 0.25);
        transform: translateY(-3px);
      }
      &:focus-visible {
        outline: none;
      }
      & + .input {
        margin-left: 0.75em;
      }
      &--correct {
        box-shadow: 0 3px 0 var(--clr-accent-green), 0 3px 8px rgba(0, 0, 0, 0.25);
      }
      &--incorrect {
        box-shadow: 0 3px 0 var(--clr-accent-red), 0 3px 8px rgba(0, 0, 0, 0.25);
      }
    }
  }
  .break {
    flex-basis: 100%;
    height: 0;
  }
}

@media (min-width: 450px) {
  .container {
    font-size: 2.25rem;
    width: fit-content;
  }
}
