.submit {
  position: absolute;
  isolation: isolate;
  bottom: -3.5rem;
  z-index: -1;
  left: 50%;
  --accent: var(--clr-accent-blue);
  background-color: transparent;
  color: var(--accent);
  cursor: pointer;
  border: none;
  display: inline-flex;
  padding: 0.4em 1.25em;
  font-size: 0.9rem;
  font-weight: 700;
  align-items: center;
  border-radius: 4px;
  justify-content: center;
  transition: color 200ms ease;

  &::after {
    content: "";
    border-radius: inherit;
    position: absolute;
    inset: 0;
    transform: scale(0.5);
    opacity: 0;
    transition: transform 300ms, opacity 300ms;
    transition-timing-function: cubic-bezier(0.83, 0, 0.17, 1);
    background-color: var(--accent);
    z-index: -1;
  }

  svg {
    margin-left: 0.5em;
  }

  &:focus-visible {
    outline: 2px dashed var(--accent);
    outline-offset: 0.5rem;
  }
  &:hover,
  &:focus-visible {
    color: white;
    &::after {
      transform: scale(1);
      opacity: 1;
    }
  }
}

.wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  width: calc(100% - 2rem);
}

.container {
  border-radius: 5px;
  overflow: hidden;
  color: var(--clr-accent-blue);
  font-weight: 700;
  font-size: 1.25rem;
  border: 2px solid var(--clr-accent-blue);
  min-height: 175px;
  position: relative;
  isolation: isolate;
  background-color: var(--clr-background-400);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1em;
  transition: border-color 350ms ease;
  &--incorrect {
    border-color: var(--clr-accent-red);
  }
  &--correct {
    border-color: var(--clr-accent-green);
  }
  &:focus-visible {
    outline: 2px dashed var(--clr-accent-blue);
    outline-offset: 2rem;
  }
  &:focus-visible {
    outline: 2px dashed var(--clr-accent-blue);
    outline-offset: 2rem;
  }
  .answerPreview {
    font-size: 0.9rem;
    font-weight: 500;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--clr-text);
    gap: 0.35rem;
    margin-top: 1.25rem;
    svg {
      color: var(--clr-accent-blue);
    }
  }
  .question {
    margin: 0;
    margin-bottom: 1.5rem;
    font-size: inherit;
  }
  span {
    font-size: 1rem;
    color: white;
  }
  form {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.125rem;
    align-items: center;
    position: relative;
    justify-content: center;
    gap: 0.75rem;
    font-family: "Source Code Pro", monospace;
    > *:not(input) {
      display: flex;
      font-size: inherit;
      align-items: center;
      justify-content: center;
    }

    .input {
      font-size: inherit;
      background-color: var(--clr-background-300);
      border: none;
      box-shadow: 0 3px 0 var(--clr-background-400), 0 3px 8px rgba(0, 0, 0, 0.25);
      color: var(--clr-text);
      font-weight: 600;
      padding: 0.35em 0.5em;
      text-align: center;
      isolation: isolate;
      letter-spacing: 1px;
      border-radius: 4px;
      transition: transform 200ms ease-out, box-shadow 200ms ease;
      &:not(.input--correct):not(.input--incorrect):focus-visible {
        box-shadow: 0 3px 0 var(--clr-accent-blue), 0 3px 8px rgba(0, 0, 0, 0.25);
        transform: translateY(-3px);
      }
      &:focus-visible {
        outline: none;
      }
      &--correct {
        box-shadow: 0 3px 0 var(--clr-accent-green), 0 3px 8px rgba(0, 0, 0, 0.25);
      }
      &--incorrect {
        box-shadow: 0 3px 0 var(--clr-accent-red), 0 3px 8px rgba(0, 0, 0, 0.25);
      }
    }
  }
  .break {
    flex-basis: 100%;
    height: 0;
  }
}

@media (min-width: 450px) {
  .wrapper {
    max-width: 600px;
    .container {
      font-size: 2.25rem;
      padding: 1.5em;
    }
  }
  .answerPreview {
    font-size: 1.25rem !important;
  }
}
